<footer class="footer">
      <div class="footer__container">
            <section>
                  <h2 class="footer__title">Sobre</h2>
                  <p class="foooter__about-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum illum atque facilis obcaecati sequi incidunt accusamus voluptas quo, maxime tempore accusantium excepturi assumenda commodi quod ratione beatae qui eius architecto?</p>
            </section>
            <address>
                  <h2 class="footer__title">Contato</h2>
                  <ul>
                        <li><i class="fa-solid fa-envelope"></i> email.com</li>
                        <li><i class="fa-solid fa-phone"></i> (00) 0 0000-0000</li>
                        <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
                  </ul>
            </address>
      </div>
      <section class="footer_copyright">
            &copy; todos os direitos reservados
      </section>
</footer>